.snackbar {
    visibility: hidden;
    min-width: 180px;
    max-width: 220px;
    border-radius: 2px;
    padding: 16px;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem 0.1rem rgba(48, 55, 66, .10);
    position: fixed;
    z-index: 400;
    left: 8%;
    bottom: 30px;
}

.snackbar-show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}